body {
    background-color: #F4F5F6;
}

/* Utility classes */
.relative {
    position: relative;
}
.pointed-corners {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
    padding: 12px;
}
.padding-lr-100 {
    padding: 0 100px;
}
.no-left-padding {
    padding-left: 15px;
}

/* Nav bar */
.navbar-brand, .navbar-nav li a.dropdown-toggle {
    line-height: 87px;
    height: 87px;
    padding-top: 0;
}

.navbar {
    border-bottom: 3px solid #FF3C00;
}

/* Headers */
h1.title {
    background: transparent url(../gfxs/dragonpulse-title.png) center center no-repeat;
    background-size: 337px 60px;
    text-indent: -99999px;
    padding: 60px 20px 56px;
}

h3 {
    font-weight: 300;
    text-indent: 35px;
    margin-top: 0;
    margin-bottom: 25px;
}
.time-wrap h5 {
    font-size: 11px;
    font-weight: normal;
    color: #aaa;
    text-indent: 18px;
    background: transparent url(../gfxs/sprites@2x.png) no-repeat;
    background-size: 26px 243px;
    background-position: 0 -231px;
    position: absolute;
}
.panel-eq-height .time-wrap h5 {
    left: 28px;
    bottom: 15px;
}
.time-wrap.processes h5 {
    right: 27px;
    top: 27px;
}
.time-wrap.sensors h5 {
    right: 27px;
    top: 30px;
    margin-top: 0;
}


/* Panels */
.panel.panel-eq-height {
    margin-top: 50px;
    padding-bottom: 40px;
    position: relative;
}
.panel.panel-sensor-page {
    margin-top: 0;
    padding-bottom: 12px;
    position: relative;
}

/* Volume page */
/* Volume page sprites */
h3.volume-page {
    background: transparent url(../gfxs/sprites-volume@2x.png) no-repeat;
    background-size: 30px 251px;
}
h3.volume-log {
    background-position: 0 0;
}
h3.led-control {
    background-position: 0 -58px;
}

.volume-graph-wrap {
    min-height: 130px;
}
.volume-graph {
    background: transparent url(../gfxs/volume-bg-xs.jpg) no-repeat center center;
    background-size: 244px 41px;
    width: 244px;
    height: 41px;
    position: relative;
}
.volume-item .volume-circle {
    background: transparent url(../gfxs/sprites-volume@2x.png) no-repeat;
    background-size: 30px 251px;
    width: 29px;
    height: 30px;
    position: absolute;
    top: 6px;
}
.volume-item .volume-circle.circle-plus {
    background-position: -1px -115px;
}
.volume-item .volume-circle.circle-minus {
    background-position: -1px -168px;
}
.volume-item .volume-time {
    transform: rotate(90deg);
    transform-origin: right, top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:right, top;
    position: absolute;
    color: rgba(119, 119, 119, 0.5);
    font-weight: normal;
    font-size: 11px;
    top: 64px;
}


/* LED Control */
.led-status {
    font-size: 13px;
    font-weight: normal;
    color: #777;
}
.led-status span, .vol-desc {
    font-weight: 500;
    color: #333;
}
.btn-group-vertical .btn.btn-status {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 55px;
    color: #aaa;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #D8D8D8;
    /*border-bottom: 0;*/
    background: #ECECEC;
}
.btn-group-vertical .btn.btn-status:hover {
    z-index: 0;
    color: #555;
}
.btn-group-vertical .btn.btn-status.on {
    border: 1px solid #6FBA1E;
    border-bottom: 0;
    background: #6FBA1E;
    color: #fff;
    cursor: default;
}
.btn-group-vertical .btn.btn-status.off {
    border: 1px solid #E12C0D;
    border-top: 0;
    background: #E12C0D;
    color: #fff;
    cursor: default;
}

h4.h4-center {
    line-height: 190px;
    height: 211px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    font-size: 28.5px;
    font-weight: 300;
    color: #777;
}
h4.h4-center span {
    font-weight: normal;
    color: #FF3C00;
}

/* Media Queries */
@media screen and (min-width: 480px) {
    .volume-graph {
        background: transparent url(../gfxs/volume-bg-sm.jpg) no-repeat center center;
        background-size: 381px 41px;
        width: 381px;
    }
}

@media screen and (min-width: 740px) {
    .volume-graph {
        background: transparent url(../gfxs/volume-bg-md.jpg) no-repeat center center;
        background-size: 618px 41px;
        width: 618px;
    }
}

@media screen and (min-width: 1200px) {
    .volume-graph {
        background: transparent url(../gfxs/volume-bg-lg.jpg) no-repeat center center;
        background-size: 756px 41px;
        width: 756px;
    }
    .no-left-padding {
        padding-left: 5px;
    }
}
